.parallax-wrapper {
    position: relative;
    height: 100vh;
    /* Adjust height as needed */
    overflow: hidden;
}

.hero__content {
    position: relative;
    width: 100%;
    z-index: 50;
    text-align: center;
    color: white;
    padding-left: 8rem;
    padding-right: 8rem;
    /* background-color: aqua; */
    /* margin-left: 5rem; */
    /* Add color to make the text visible against the background */
}

.hero__content {
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    text-align: center;
    color: var(--text-color);
    /* Add color to make the text visible against the background */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5rem; */
}

.content-image {
    /* transform: scale(.5); */
}

.content-image img {
    /* transform: scale(.5); */
    scale: .7;
}

h1 {
    font-size: calc(0.5rem + 8vmin);
    font-weight: 600;
    font-style: italic;
}

p {
    font-size: calc(0.8rem + 1.25vmin);
    line-height: 1.65;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

@media (max-width: 1050px) {
    h1 {
        font-size: calc(1rem + 6vmin);
    }

    p {
        font-size: calc(0.8rem + 1vmin);
    }

    .hero__content {
        flex-direction: column;
        margin-top: 8rem;
    }
}