.contact {
    min-height: 100vh;
    /* padding-top: 15rem; */
    /* margin-bottom: 10rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15rem;
    background-image: url('../../images/bg-black.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact .contact-info {
    width: auto;
    max-width: 80rem;
}

.contact h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contact p {
    font-size: 1.2rem;
    text-align: center;
}

.contact form {
    position: relative;
    min-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    transition: .5s;
}

.contact form .input-box input:focus~.focus,
.contact form .input-box input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus {
    width: 100%;

}

.contact form .textarea-field {
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact h2 .animate.scroll,
.contact form .input-box .input-field .animate.scroll,
.contact form .textarea-field .animate.scroll {
    background: black;
}

.contact.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

.toast {
    position: fixed;
    top: 100px;
    right: 25px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 150;
  }
  .toast.active {
    transform: translateX(0%);
  }
  
  .toast .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }
  
  .toast .close {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    font-size: 2.5rem;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
    z-index: 500;
  }
  
  .toast .close:hover {
    opacity: 1;
  }
  
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
  
  }
  
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
  }
  
  .progress.active:before {
    animation: progress 5s linear forwards;
  }
  
  @keyframes progress {
    100% {
      right: 100%;
    }
  }
  

@media (max-width: 868px) {
    .contact {
        padding: 7rem;
    }

    .contact form {
        min-width: fit-content;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .contact h1 {
        font-size: 3rem;
    }
}